<h2>Orders</h2>
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item" active>Orders</li>
    </ol>
</nav>

<div class="search-bar mb-4">
    <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search order.." title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
</div><!-- End Search Bar -->
<!--List-->
<div class="card-body">
    <div class="card">
        <img src="/images/blogs/blog.jpg" alt="..." class="w-50">
        <p class="h3 mt-3">Iphone 11 promax 1T</p>
        <p class="mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
        <a class="btn btn-primary mb-2 w-25" [routerLink]="['/admin/blog/update']">Update</a>
        <a class="btn btn-danger w-25">Delete</a>
    </div>
</div>
<div class="card-body">
    <div class="card">
        <img src="/images/blogs/blog.jpg" alt="..." class="w-50">
        <p class="h3 mt-3">Iphone 11 promax 1T</p>
        <p class="mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
        <a class="btn btn-primary mb-2 w-25" [routerLink]="['/admin/blogs/update']">Update</a>
        <a class="btn btn-danger w-25">Delete</a>
    </div>
</div>

