.cart {
    padding-top: 7rem;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 2s, transform 1s;
    transform: translateX(-10rem);
}

.title {
    font-weight: bold;
    font-size: 3rem;
}

.cart_items{
    width: 75%;
    gap: 2rem;
}
.img_cart {
    width: 50%;
}

@media (min-width: 768px) {
    .cart_items {
        width: 50%;
        gap: 2rem;
    }

    .img_cart {
        width: 90%;
    }
}
.text-number {
    color: #fac564;
    font-weight: bold;
    font-size: 1.25rem;
}

.rm_btn {
    text-decoration: underline;
    color: white;
    background-color: transparent;
    border: 0;
}

.product_des {
    font-size: 1.25rem;
    box-sizing: border-box;
    word-wrap: break-word;
}


.btn-outline-dark.btn-sm {
    padding: 0.25rem 0.5rem;
}

.amount {
    font-size: 1.5rem;
    gap: 1rem;
}

.btn-custom {
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    border: 0.05rem solid hsla(0,0%,100%,.113);
    color: #919191;
    font-weight: bold
}

.btn-custom:hover {
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    border: 0.05rem solid #fac564;
    color: #fac564;
    font-weight: bold
}
.cart_total {
    font-size: 1.25rem;
    text-transform: uppercase;
}
.cart_total_content {
    gap: 2rem;
}

.cart_total_field {
    gap: 1rem;
}

.visible {
    opacity: 1;
    transform: translateX(0);
}