
<div class="newcontainer">
    <!-- navbar -->
    <app-nav-bar></app-nav-bar>
    <!-- end navbar -->
    <!-- Background video -->
    <div class="video-holder">
        <div class="video-overlay"></div>
        <video preload="none" playsinline autoplay muted loop poster="/images/poster.png" src="/videos/background.mp4" type="video/mp4" loading="lazy">
        </video>
        <div class="video-content newcontainer h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100">
                    <p class="welcom-text">Welcome </p>
                    <h1 class="slogan text-white">WE HAVE ANYTHING YOU NEED</h1>
                    <p class="state">Ordering your Goods is quick and easy with our website.</p>
                    <div class="d-flex justify-content-center mt-5">
                        <button class="btn btn-warning mx-2">Read Blog</button>
                        <button class="btn btn-secondary mx-2">View Menu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex introduce">
        <div class="w-50 px-5">
            <img src="images/home_ecomercial.png" aria-label="Bootstrap" loading="lazy" />
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="h1 text-white">Welcome to <span class="store-name">E-Store</span></div>
            <div class="w-75">
                Here, we offer a wide range of products from fashion, electronics, and home appliances to cosmetics,
                ensuring quality and competitive prices. With a flexible 7-day return policy and a commitment to genuine products,
                E-Store always prioritizes customer satisfaction. Experience convenient and safe shopping with us today!
            </div>
        </div>
    </div>

    <!-- Banner -->
    <div class="d-flex bg-image align-items-center">
        <div class="text-center info">
            <p class="text-item text-white">000 (000) 123 4567</p>
            <p class="text-item">Contact us if you have any questions</p>

            <p class="text-item text-white">506 Roy Alley 80202</p>
            <p class="text-item">Colorado, Denver</p>

            <p class="text-item text-white">Open Monday-Friday</p>
            <p class="text-item">8:00am - 9:00pm</p>
        </div>
        <app-shipper-parallax></app-shipper-parallax>
    </div>
    <!-- End Banner -->
    <!-- SERVICE -->
    <div class="d-flex flex-column py-2 bg-color-custom justify-items-center align-items-center">
        <div class=""><p class="h2 text-white">Our Services</p></div>
        <div class="w-75">
            <p>
                E Store dẫn đầu thị trường điện thoại di động và không ngừng mang đến nhiều hơn
                cả điện thoại. Khám phá các tùy chọn sản phẩm mới nhất của chúng tôi với các dòng điện thoại thông minh,
                máy tính bảng, phụ kiện và nhiều hơn nữa!
            </p>
        </div>
        <div class="group-card d-flex justify-items-center">
            <app-card-rotate [name]="'Iphone 10'"
                             [description]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.'"
                             [srcImg]="'/images/ip10.png'"></app-card-rotate>
            <app-card-rotate [name]="'Iphone 11'"
                             [description]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.'"
                             [srcImg]="'/images/ip11.png'"></app-card-rotate>
            <app-card-rotate [name]="'Iphone 12'"
                             [description]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.'"
                             [srcImg]="'/images/ip12.png'"></app-card-rotate>
        </div>
    </div>
    <!--END SERVICE-->
    <!-- Hot Item -->
    <div class="d-flex flex-column py-5 bg-color-custom  justify-items-center align-items-center">
        <div class=""><p class="h2 text-white">Hot Phone</p></div>
        <div class="w-75">
            <p>
                E Store dẫn đầu thị trường điện thoại di động và không ngừng mang đến nhiều hơn
                cả điện thoại. Khám phá các tùy chọn sản phẩm mới nhất của chúng tôi với các dòng điện thoại thông minh,
                máy tính bảng, phụ kiện và nhiều hơn nữa!
            </p>
        </div>
        <div class="w-100">
            <div class="row">
                <div *ngFor="let product of products">
                    <div class="col-md-4">
                        <app-card-fadein [image]="product.ImageUrl"
                                         [name]="product.Name"
                                         [description]="product.Description"></app-card-fadein>
                    </div>
                </div>
            </div>
            <div>
                <div class="btn btn-warning my-3">More phone</div>
            </div>
        </div>
        <!--End Hot Item-->
        <!--Pricing -->
        <div class="d-flex flex-column py-5 bg-color-custom  justify-items-center align-items-center">
            <div class=""><p class="h2 text-white">Menu Pricing</p></div>
            <div class="w-75">
                <p>
                    E Store dẫn đầu thị trường điện thoại di động và không ngừng mang đến nhiều hơn
                    cả điện thoại. Khám phá các tùy chọn sản phẩm mới nhất của chúng tôi với các dòng điện thoại thông minh,
                    máy tính bảng, phụ kiện và nhiều hơn nữa!
                </p>
            </div>
            <div class="w-100">
                <div class="row">
                    <div class="col-md-6">
                        <app-card-pricing [name]="'Iphone 10'"
                                          [description]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.'"
                                          [srcImg]="'/images/ip10.png'"
                                          [price]="'$500'" loading="lazy"></app-card-pricing>
                    </div>
                    <div class="col-md-6">
                        <app-card-pricing [name]="'Iphone 11'"
                                          [description]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.'"
                                          [srcImg]="'/images/ip11.png'"
                                          [price]="'$500'" loading="lazy"></app-card-pricing>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <app-card-pricing [name]="'Iphone 10'"
                                          [description]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.'"
                                          [srcImg]="'/images/ip10.png'"
                                          [price]="'$500'" loading="lazy"></app-card-pricing>
                    </div>
                    <div class="col-md-6">
                        <app-card-pricing [name]="'Iphone 11'"
                                          [description]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.'"
                                          [srcImg]="'/images/ip11.png'"
                                          [price]="'$500'" loading="lazy"></app-card-pricing>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <app-card-pricing [name]="'Iphone 10'"
                                          [description]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.'"
                                          [srcImg]="'/images/ip10.png'"
                                          [price]="'$500'" loading="lazy"></app-card-pricing>
                    </div>
                    <div class="col-md-6">
                        <app-card-pricing [name]="'Iphone 11'"
                                          [description]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.'"
                                          [srcImg]="'/images/ip11.png'"
                                          [price]="'$500'" loading="lazy"></app-card-pricing>
                    </div>
                </div>
            </div>
        </div>
        <!--End Pricing-->
        <!-- Menu Slider-->
        <div class="menu-slider">
            <section class="menu-slider-category d-flex align-items-center justify-content-center">
                <ul class="d-flex">
                    <li><button>Smartphone</button></li>
                    <li><button>Smart Watch</button></li>
                    <li><button>Pad</button></li>
                </ul>
            </section>
            <section class="menu-slider-products d-flex">
                <div class="col-md-4">
                    <app-card-slider-menu [name]="'Iphone 10'"
                                          [description]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.'"
                                          [srcImg]="'/images/ip10.png'"
                                          [price]="'$500'" loading="lazy"></app-card-slider-menu>
                </div>
                <div class="col-md-4">
                    <app-card-slider-menu [name]="'Iphone 11'"
                                          [description]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.'"
                                          [srcImg]="'/images/ip11.png'"
                                          [price]="'$500'" loading="lazy"></app-card-slider-menu>
                </div>
                <div class="col-md-4">
                    <app-card-slider-menu [name]="'Iphone 12'"
                                          [description]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.'"
                                          [srcImg]="'/images/ip12.png'"
                                          [price]="'$500'" loading="lazy"></app-card-slider-menu>
                </div>
            </section>
        </div>
        <!-- End Menu Slider-->
        <app-shop></app-shop>
        <p *ngIf="!forecasts"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>
        <table *ngIf="forecasts">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Temp. (C)</th>
                    <th>Temp. (F)</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let forecast of forecasts">
                    <td>{{ forecast.date }}</td>
                    <td>{{ forecast.temperatureC }}</td>
                    <td>{{ forecast.temperatureF }}</td>
                    <td>{{ forecast.summary }}</td>
                </tr>
            </tbody>
        </table>
    </div>
