.vs/

# .NET
bin/
obj/
*.user
*.suo
*.vscode
.vs/
*.dbmdl
*.dbproj.schemaview
*.jfm
*.log
*.userosscache
*.suo

# Angular
node_modules/
dist/
.angular/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Others
.env
