.facebook-icon {
    font-size: 2.5rem; 
    color: white; 
}
.tiktok-icon {
    font-size: 2.5rem;
    color: white;
}
.instagram-icon {
    font-size: 2.5rem;
    color: white;
}
.momo_image{
    width: 2rem;
}