<div #priceElement class="d-flex my-2 bg-color-card px-2 bg-card scroll-element">
    <img src="{{srcImg}}" alt="..." loading="lazy" style="width:6rem;height:8rem;">
    <div class="card-body px-3 py-3 d-flex flex-column align-items-center justify-content-center">
        <div class="title w-100 py-2 d-flex justify-content-between">
            <div><h5 class="card-name text-white">{{name}}</h5></div>
            <div>
                <h5 class="card-price">{{price}}</h5>
            </div>
        </div>
        <p class="card-text">{{description}}</p>
    </div>
</div>


