.card-upper {
    position: absolute;
    z-index: 2;
    top: 70%;
    background-color: #171B1D;
    padding: 1rem;
}

.bg-color-card {
    background-color: #171B1D;
}

.card-img {
    z-index: 1;
}

.card:hover {
    animation: 50s ease-in-out;
}
.title {
    border-bottom: 0.1rem solid #fac564;
    color: #d7d9d9;
}

.card-price {
    color: #fac564;
}

