<main class="home">
    <article class="video-holder d-flex justify-content-center">
        <div class="video-overlay"></div>
        <video preload="none" playsinline autoplay muted loop poster="/images/poster.jpg" src="..." type="video/mp4" loading="lazy">
        </video><!--/videos/background.mp4-->
        <div class="video-content h-100">
            <div class="d-flex h-100 text-center align-items-center video-text" lazyLoadObserver [threshold]="0.1">
                <div class="w-100">
                    <p class="welcom-text">Welcome </p>
                    <h1 class="slogan text-white">CHÚNG TÔI CÓ MỌI THỨ BẠN CẦN</h1>
                    <p class="state">Đặt hàng nhan chóng và dễ dàng với website của chúng tôi</p>
                </div>
            </div>
        </div>
    </article>
    <div class="d-flex introduce">
        <div class="w-50 px-5">
            <img src="images/poster_1.jpg" aria-label="Bootstrap" alt="no_image" />
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="h1 text-white">Chào mừng đến với <span class="store-name">HCMUT-FITNESS</span></div>
            <div class="w-75">
                Tại HCMUT-FITNESS, chúng tôi cung cấp đa dạng dụng cụ tập gym chất lượng cao, từ tạ, dây kháng lực, thảm yoga đến các máy tập cardio, phù hợp cho cả tập tại nhà và phòng gym chuyên nghiệp.

                Với giá cả cạnh tranh, sản phẩm chính hãng và chính sách đổi trả linh hoạt trong 7 ngày, HCMUT-FITNESS cam kết mang đến sự hài lòng tuyệt đối cho khách hàng.

                Trải nghiệm mua sắm tiện lợi và an toàn cùng chúng tôi ngay hôm nay!
            </div>
        </div>
    </div>
    <div class="d-flex bg-image align-items-center" #banner>
        <div class="text-center info">
            <p class="text-item text-white">0346439638</p>
            <p class="text-item">Liên hệ với chúng tôi khi bạn có bất cứ thắc mắc</p>

            <p class="text-item text-white">Đại học Bách khoa cơ sở 2</p>
            <p class="text-item">Thủ đức</p>

            <p class="text-item text-white">mở 24/24</p>
        </div>
        @defer (on viewport(banner)) {
        <app-shipper-parallax></app-shipper-parallax>
        }
    </div>
    <article class="d-flex flex-column py-2 bg-color-custom justify-items-center align-items-center">
        <div class=""><p class="h2 text-white">Dịch vụ của chúng tôi</p></div>
        <div class="w-75">
            <p>
                HCMUT-FITNESS – Dẫn Đầu Thị Trường Dụng Cụ Tập Gym
                HCMUT-FITNESS không chỉ cung cấp các dụng cụ tập gym chất lượng mà còn mang đến nhiều sản phẩm hỗ trợ luyện tập khác. Khám phá ngay các dòng thiết bị tập gym, tạ, dây kháng lực, máy tập và phụ kiện thể thao, giúp bạn đạt được mục tiêu sức khỏe và thể hình tốt nhất!
            </p>
        </div>
    </article>
    <article class="d-flex flex-column pt-5 bg-color-custom  justify-items-center align-items-center">
        <div class=""><p class="h2 text-white">Sản phẩm bán chạy</p></div>
        <div class="w-75">
            <p>
                E-Store không chỉ cung cấp các dụng cụ tập gym chất lượng mà còn mang đến nhiều sản phẩm thể thao hỗ trợ luyện tập. Khám phá ngay các dòng sản phẩm mới nhất của chúng tôi, từ tạ, máy tập, thảm yoga đến phụ kiện gym, giúp bạn nâng cao hiệu quả tập luyện và sức khỏe!
            </p>
        </div>
        <div class="my-3 hotphone w-100 px-5" lazyLoadObserver [threshold]="0.1">
            <app-card-fadein class="my-2 row"></app-card-fadein>
            <div class="d-flex justify-content-center my-5">
                <button class="btn btn-warning" [routerLink]="['/products']">Xem thêm sản phẩm</button>
            </div>
        </div>
    </article>
    <article class="d-flex flex-column py-5 bg-color-custom  justify-items-center align-items-center">
        <div class=""><p class="h2 text-white">Bảng giá sản phẩm</p></div>
        <div class="w-75">
            <p>
                E Store dẫn đầu thị trường điện thoại di động và không ngừng mang đến nhiều hơn
                cả điện thoại. Khám phá các tùy chọn sản phẩm mới nhất của chúng tôi với các dòng điện thoại thông minh,
                máy tính bảng, phụ kiện và nhiều hơn nữa!
            </p>
        </div>
        <div class="w-100 group-card-pricing" #cardpricing lazyLoadObserver [threshold]="0.1">
            @defer (on viewport(cardpricing)) {
            <div class="row">
                <div class="col-md-6">
                    <app-card-pricing [name]="products[0].name"
                                      [description]="products[0].name"
                                      [srcImg]="products[0].imageUrl"
                                      [price]="products[0].price" loading="lazy"></app-card-pricing>
                </div>
                <div class="col-md-6">
                    <app-card-pricing [name]="products[1].name"
                                      [description]="products[1].name"
                                      [srcImg]="products[1].imageUrl"
                                      [price]="products[1].price" loading="lazy"></app-card-pricing>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <app-card-pricing [name]="products[2].name"
                                      [description]="products[2].name"
                                      [srcImg]="products[2].imageUrl"
                                      [price]="products[2].price" loading="lazy"></app-card-pricing>
                </div>
                <div class="col-md-6">
                    <app-card-pricing [name]="products[3].name"
                                      [description]="products[3].name"
                                      [srcImg]="products[3].imageUrl"
                                      [price]="products[3].price" loading="lazy"></app-card-pricing>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <app-card-pricing [name]="products[4].name"
                                      [description]="products[4].name"
                                      [srcImg]="products[4].imageUrl"
                                      [price]="products[4].price" loading="lazy"></app-card-pricing>
                </div>
                <div class="col-md-6">
                    <app-card-pricing [name]="products[4].name"
                                      [description]="products[4].name"
                                      [srcImg]="products[4].imageUrl"
                                      [price]="products[4].price" loading="lazy"></app-card-pricing>
                </div>
            </div>
            }
        </div>
    </article>

    <div class="banner w-100" #banner_2>
        @defer (on viewport(banner_2)) {
        <img class="banner w-100" src="/images/poster.webp" alt="no image" />
        }
    </div>

    <article class="menu-slider w-100 mt-5" #cardslidermenu>
        @defer (on viewport(cardslidermenu)) {
        <section class="mb-3 menu-slider-category d-flex align-items-center justify-content-center">
            <ul class="d-flex list-unstyled">
                <li *ngFor="let category of categories"><button class="px-2 py-2 mx-2">{{category.name}}</button></li>
            </ul>
        </section>
        }
    </article>
    <article #blogcard class="menu-blogs w-100 d-flex flex-column align-items-center mt-5 py-5 mb-2" lazyLoadObserver [threshold]="0.1">
        <h1 class="text-white">
            Bài viết gần đây
        </h1>
        <p class=" w-75 text-center">Những công thức tươi ngon, đầy hương vị và lành mạnh, thiết kế dành cho cuộc sống hàng ngày. Bạn không cần phải là chuyên gia! Chúng tôi giúp bạn tận hưởng niềm vui từ thực phẩm và thể dục theo cách đơn giản, dễ tiếp cận</p>
        <section class="menu-slider-blogs row mx-5 my-5">
            @defer (on viewport(blogcard)) {
            <div class="col-lg-4 col-md-6" *ngFor="let blog of blogs">
                <app-blog-card [title]=" blog.title"
                               [body]=" blog.body"
                               [time]=" blog.updateDate"
                               [srcImg]=" blog.sourceImage"></app-blog-card>
            </div>
            }
        </section>
        <div class="d-flex justify-content-center mb-5">
            <button class="btn btn-warning" [routerLink]="['/blogs']">Xem thêm</button>
        </div>
    </article>
    <article class="homepage__newsletter d-flex flex-column align-items-center">
        <h3 class="comment__title d-flex text-center">
            <p>Hãy cho chúng tôi biết quan điểm của bạn về dịch vụ của chúng tôi</p>
        </h3>
        <form class="comment_form mt-5 w-25 d-flex flex-column align-items-center">
            <div class="d-flex flex-column align-items-center rainbow-border pb-3">
                <input class="w-100 comment_input px-2" name="email" placeholder="Bạn đang nghĩ gì" value="">
            </div>
            <span class="newsletter__error"></span>
            <button type="submit" class="btn btn-danger tex-black mt-5 px-3 py-3">Gửi bình luận</button>
        </form>
    </article>
</main>

