<main class="about" lazyLoadObserver>
    <article class="introduce">
        <section class="introduce_content">
            <div class="glass"></div>
            <h1 class="title">Về chúng tôi tôi</h1>
            <h3 class="slogan">{{about[0].feedback}}</h3>
            <p>
                {{about[0].aboutUs}}
            </p>
        </section>
        <section class="introduce_galery row">
            <div class="col-lg-3 col-md-6 p-0">
                <img class="image_galery" src="/images/about_1.jpg" alt="no image" />
            </div>
            <div class="col-lg-3 col-md-6 p-0">
                <img class="image_galery" src="/images/about_2.png" alt="no image" />
            </div>
            <div class="col-lg-3 col-md-6 p-0">
                <img class="image_galery" src="/images/about_3.jpg" alt="no image" />
            </div>
            <div class="col-lg-3 col-md-6 p-0">
                <img class="image_galery" src="/images/about_4.jpg" alt="no image" />
            </div>
        </section>
        <div class="glass_2"></div>
</article>
    <article class="about_career row">
        <section class="career_content col-lg-6 col-md-12">
            <div class="career_content_div mx-auto mt-5">
                <h4 class="red-text">Sự nghiệp</h4>
                <h1 class="text-white">Tham gia cùng chúng tôi</h1>
                <p>{{about[0].career}}</p>
                <a class="btn btn-danger p-2 m-2">Tham gia ngay</a>
            </div>
        </section>
        <section class="career_image col-lg-6 col-md-12 p-0">
            <img class="image_" src="/images/join_team.jpeg" alt="no image" />
        </section>
    </article>
    <article class="about_colaboration row">
        <section class="colaboration_image col-lg-6 col-md-12 p-0">
            <img class="image_" src="/images/colaboration_about.jpeg" alt="no image" />
        </section>
        <section class="colaboration_content col-lg-6 col-md-12">
            <div class="career_content_div mx-auto mt-5">
                <h4 class="red-text">Cộng tác</h4>
                <h1 class="text-white">Cho doanh nghiệp</h1>
                <p>{{about[0].colaboration}}</p>
                <a class="btn btn-danger p2">Liên hệ</a>
            </div>
        </section>
    </article>
</main>
