<main class="content d-flex flex-column align-items-center" lazyLoadObserver>
    <article class="title-section text-center">
        <h1 class="text-white title">Bài viết</h1>
        <h5>Chúng tôi cung cấp nhiều loại sản phẩm từ thiết bị, quần áo thể thao đến dụng cụ hỗ trợ, dụng cụ bảo vệ, ...</h5>
    </article>
    <article class="blogs row mt-5">
        <div *ngFor="let blog of blogs" class="group-blog col-lg-4 col-md-6 mb-3">
            <app-blog-card
            [title]="blog.title"
            [srcImg]="blog.sourceImage"
            [time]="blog.updateDate"
            [body]="blog.body"
             ></app-blog-card>
        </div>
    </article>
</main>