<section class="content row mb-3">
    <form method="post" class="col-lg-6 col-md-12  px-5">
        <input type="email" class="rainbow-border mx-auto my-3" id="email" placeholder="Email"/>
        <input type="text" class="rainbow-border mx-auto my-3" id="content" placeholder="Mesage"/>
        <button type="submit" class="btn btn-danger mt-5 mx-auto btn-text px-5 py-2">Send</button>
    </form>
</section>
<section class="mt-3  image-container">
        <img src="/images/contact_image.jpg" class="image"/>
</section>
<section class="bandroll row px-5">
    <div class="col-lg-6 col-md-12">
        <h1 class="text-white font-weigth-bold title">Contact us</h1>
        <p class="text-white">We greatly anticipate your response and are eager to receive any inquiries you might have. Please do not hesitate to reach out to us should you require any further clarification or assistance. Your feedback and questions are of utmost importance to us, and we are here to provide the support you need. Looking forward to hearing from you!</p>
    </div>
</section>
