<div #productElement class="menu-product d-flex flex-column align-items-center mx-2 px-2 mt-5">
    <img class="menu-image" src="{{srcImg}}" loading="lazy" style="width: 50%;" />
    <section class="">
        <h3 class="text-white">{{name}}</h3>
        <p class="menu-description-txt">
            {{description}}
        </p>
        <div class="d-flex justify-content-between">
            <p class="menu-price text-price">{{price}}</p>
            <div>
                <a class="btn btn-success text-center mx-auto">Add to Cart</a>
            </div>
        </div>
</section>
</div>

