<main class="contact" lazyLoadObserver>
    <article class="content row mb-3">
        <form method="post" class="col-lg-6 col-md-12  px-5">
            <input type="text" class="rainbow-border mx-auto my-3" id="content" placeholder="Bạn đang nghĩ gì?" />
            <button type="submit" class="btn btn-danger mt-5 mx-auto btn-text px-5 py-2">Gửi</button>
        </form>
    </article>
    <article class="mt-3  image-container">
        <img src="/images/contact.jpg" alt="no image" class="image" />
    </article>
    <article class="bandroll row px-5">
        <div class="col-lg-6 col-md-12">
            <h1 class="text-white font-weigth-bold title">Liên hệ với chúng tôi</h1>
            <p class="text-white">{{contact[0].emailCustomerSupport}}</p>
        </div>
    </article>
</main>
