<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-3 py-5 my-5 border-top text-white">
        <div class="col mb-4 border-end border-white d-flex flex-column align-items-center">
            <!-- d-flex flex-column=> căn giữ phải xài align-items-center ngược tí so với d-flex-->
            <ul class="nav flex-column align-items-center">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Sản phẩm</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Bài viết</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Giới thiệu</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Liên hệ</a></li>
                <li class="nav-item mb-2">
                    <ul class="nav">
                        <li class="nav-item mb-2 mx-2">
                            <a href="#" class="nav-link p-0"><fa-icon [icon]="faFacebook" class="facebook-icon"></fa-icon></a>
                        </li>
                        <li class="nav-item mb-2 mx-2">
                            <a href="#" class="nav-link p-0"><fa-icon [icon]="faTiktok" class="tiktok-icon"></fa-icon></a>
                        </li>
                        <li class="nav-item mb-2 mx-2">
                            <a href="#" class="nav-link p-0"><fa-icon [icon]="faInstagram" class="instagram-icon"></fa-icon></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col mb-4 border-end border-white d-flex flex-column align-items-center">
            <ul class="nav flex-column">
                <!--class nav bản thân nó đã là d-flex -->
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Sự nghiệp</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Quyền riêng tư</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Chính sách đổi trả</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Điều khoản</a></li>
            </ul>
            </div>

            <div class="col mb-4 d-flex flex-column align-items-center">
                <ul class="nav flex-column align-items-center mt-2">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white fw-bold">Thắc mắc?</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">0346439638</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">hcmut-fitness&#64;hcmut&#46;com</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">24/24h</a></li>
                    <li class="nav-item mb-2">
                        <ul class="nav">
                            <li class="nav-item mb-2 mx-2">
                                <a href="#" class="nav-link p-0 text-white">
                                    <img class="momo_image" src="images/MoMo.png" aria-label="Bootstrap" />
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
