<main class="checkout row g-5 w-75">
    <h1 class="text-white">Đặt hàng</h1>
    <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Giỏ hàng của bạn</span>
            <span class="badge bg-primary rounded-pill">{{quantity}}</span>
        </h4>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm" *ngFor="let item of cartItems ">
                <div>
                    <h6 class="my-0">{{item.product.name}}</h6>
                    <small>{{item.quantity}}</small>
                </div>
                <span class="text-muted">{{item.product.price}} vnđ</span>
            </li>


            <li class="list-group-item d-flex justify-content-between bg-light">
                <div class="text-success">
                    <h6 class="my-0">Thuế</h6>
                </div>
                <span class="text-success">{{total*0.1}} vnđ</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Tổng</span>
                <strong>{{total*1.1}} vnđ</strong>
            </li>
        </ul>
    </div>
    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Địa chỉ nhận hàng</h4>
        <form class="needs-validation" novalidate #userForm="ngForm">
            <div class="row g-3">
                <!-- Username Input -->
                <div class="col-12">
                    <label for="username" class="form-label">Người dùng</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text">&#64;</span>
                        <input type="text"
                               class="form-control"
                               id="username"
                               [(ngModel)]="userName"
                               [placeholder]="userName"
                               name="userName"
                               disabled>
                    </div>
                </div>

                <!-- Address Input -->
                <div class="col-12">
                    <label for="address" class="form-label">Địa chỉ</label>
                    <input type="text"
                           class="form-control"
                           id="address"
                           [(ngModel)]="address"
                           name="address"
                           placeholder="Nhập đầy đủ số nhà, đường, phường/xã, quận/huyện, thành phố/tỉnh"
                           required>
                </div>
            </div>

            <hr class="my-4">

            <h4 class="mb-3">Phương thức thanh toán</h4>
            <div class="my-3">
                <div class="form-check">
                    <input id="credit" name="paymentMethod" type="radio" class="form-check-input" required [(ngModel)]="paymentMethod" value="onReceive" />
                    <label class="form-check-label" for="credit">Thanh toán khi nhận hàng</label>
                </div>
                <div class="form-check">
                    <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required [(ngModel)]="paymentMethod" value="momo" />
                    <label class="form-check-label" for="paypal">Momo</label>
                </div>
            </div>

            <hr class="my-4">

            <button class="w-100 btn btn-primary btn-lg" (click)="submitOrder()" [disabled]="userForm.invalid">Đặt hàng</button>
        </form>
    </div>

</main>
