<div #productElement class="menu-product d-flex flex-column align-items-center mx-2 px-2 mt-5">
    <img class="menu-image rounded" src="{{srcImg}}" loading="lazy" style="width: 75%;" />
    <section class="mt-2 w-75">
        <h6 class="text-white custome-height">{{name}}</h6>
        <div class="d-flex justify-content-between">
            <p class="menu-price text-price">{{price}} VNĐ</p>
        </div>
        <div>
            <a class="btn btn-success text-center mx-auto" (click)="addToCart()">Thêm vào giỏ hàng</a>
        </div>
    </section>
</div>

