.text-price {
    color: #fac564;
    font-size: 1.5rem;
}

.menu-image {
    z-index: 1
}

.menu-description {
    position: absolute;
    top: 70%;
    z-index: 2;
    background-color: #212529;
    padding-top: 1rem;
}

.menu-product {
    z-index: 1;
    position: relative;
}

.custome-height {
    height: 3rem;
}
