<main class="menu row" lazyLoadObserver>
    <article class="menu_category row col-lg-3 col-md-4 mx-auto">
        <form class="mb-3 mb-lg-0 me-lg-0" role="search">
            <div class="input-group">
                <input type="search"
                       class="form-control form-control-dark bg-dark text-white"
                       placeholder="Search..."
                       aria-label="Search">
                <button class="btn btn-dark border" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
        <table class="table table-striped mt-lg-3 px-0 w-75">
            <thead>
                <tr>
                    <th scope="col" class="h5 text-center pt-lg-4 pb-lg-2 category_item mx-auto w-25" [ngClass]="{'category_header': categoryIndex === '0'}" (click)="handleCategoryAllButtonClick()">
                        <a>Menu</a>
                    </th>
                </tr>
            </thead>
            <tbody id="categoryTableBody" *ngFor="let category of categories">
                <tr>
                    <td class="h5 text-center pt-lg-4 pb-lg-2 category_item mx-auto w-25" (click)="handleCategoryClick(category.id)" [ngClass]="{'category_header': categoryIndex === category.id}"><a class="text_category">{{category.name}}</a></td>
                </tr>
            </tbody>
        </table>
</article>
    <article class="category row col-lg-9 col-md-8">
        <div class="menu-slider w-100" #cardproductmenu>
            <section class="menu-slider-products row">
                <div *ngFor="let product of products" class="col-lg-4 col-sm-6">
                    <app-product-card [name]="product.name"
                                      [description]="product.description"
                                      [srcImg]="product.imageUrl"
                                      [price]="product.price.toString()"
                                      [id]="product.id">
                    </app-product-card>
                </div>
            </section>
        </div>
        <nav aria-label=" Page navigation example" class="mt-5">
            <ul class="pagination justify-content-center">
                <li class="page-item cursor-pointer" [class.disabled]="currentPage === 1">
                    <a class="page-link" (click)="getPaginatedProducts(currentPage - 1)" tabindex="-1">Previous</a>
                </li>

                <li class="page-item cursor-pointer" *ngFor="let page of [].constructor(totalPages); let i = index">
                    <a class="page-link" (click)="getPaginatedProducts(i + 1)" [class.active]="currentPage === i + 1">
                        {{ i + 1 }}
                    </a>
                </li>

                <li class="page-item cursor-pointer" [class.disabled]="currentPage === totalPages">
                    <a class="page-link" (click)="getPaginatedProducts(currentPage + 1)">Next</a>
                </li>
            </ul>
        </nav>
    </article>
</main>
