<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center mx-4 mb-2 mb-lg-0 text-decoration-none" [routerLink]="['/']">
            <img class="bi" width="200" height="80" src="images/logo.png" aria-label="Bootstrap" alt="no image"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-4">
                <li class="nav-item" *ngIf="isAdmin">
                    <a [routerLink]="['/admin']" class="nav-link text-white">Bảng Điều khiển</a>
                </li>
                <li class="nav-item" [ngClass]="{'active': currentPage === 'Home'}">
                    <a [routerLink]="['/']" class="nav-link text-white" (click)="changeCurrentPage('Home')">Trang chủ</a>
                </li>
                <li class="nav-item" [ngClass]="{'active': currentPage === 'Blogs'}">
                    <a [routerLink]="['/blogs']" class="nav-link text-white" (click)="changeCurrentPage('Blogs')">Bài viết</a>
                </li>
                <li class="nav-item" [ngClass]="{'active': currentPage === 'Products'}">
                    <a [routerLink]="['/products']" class="nav-link text-white" (click)="changeCurrentPage('Products')">Sản phẩm</a>
                </li>
                <li class="nav-item" [ngClass]="{'active': currentPage === 'Contact'}">
                    <a [routerLink]="['/contact']" class="nav-link text-white" (click)="changeCurrentPage('Contact')">Liên hệ</a>
                </li>
                <li class="nav-item" [ngClass]="{'active': currentPage === 'About'}">
                    <a [routerLink]="['/about']" class="nav-link text-white" (click)="changeCurrentPage('About')">Giới thiệu</a>
                </li>
            </ul>
            <div class="col-lg-3 ms-5 d-flex text-center">
                <div *ngIf="isLoggedIn; else login">
                    <button (click)="logout()" class="btn btn-secondary me-2">Đăng xuất</button>
                </div>

                <ng-template #login>
                    <span></span>
                    <a [routerLink]="['/auth']" class="btn btn-outline-light me-2">Đăng nhập</a>
                </ng-template>
                <a [routerLink]="['/cart']" class="btn btn-warning position-relative">
                    <fa-icon [icon]="faShoppingCart"></fa-icon>
                    <div *ngIf="isLoggedIn" class="card-no">{{ cartItemCount }} </div>
                </a>
                <div *ngIf="isLoggedIn" class="W-100">
                    <span class="ms-5">{{userName}}!</span>
                </div>
            </div>
        </div>
    </div>
</nav>
