<div class="content d-flex flex-column align-items-center">
    <section class="title-section text-center">
        <h1 class="text-white title">Blog</h1>
        <h5>we offer a wide range of products from fashion, electronics, and home appliances.</h5>
    </section>
    <section class="row mt-5">
        <div class="group-blog col-lg-4 col-md-6 mb-3">
            <app-blog-card></app-blog-card>
        </div>
        <div class="group-blog col-lg-4 col-md-6 mb-3">
            <app-blog-card></app-blog-card>
        </div>
        <div class="group-blog col-lg-4 col-md-6 mb-3">
            <app-blog-card></app-blog-card>
        </div>
        <div class="group-blog col-lg-4 col-md-6 mb-3">
            <app-blog-card></app-blog-card>
        </div>
        <div class="group-blog col-lg-4 col-md-6 mb-3">
            <app-blog-card></app-blog-card>
        </div>
    </section>
</div>