<h2>Bài viết</h2>
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Bảng điều khiển</a></li>
        <li class="breadcrumb-item" active>Bài viết</li>
    </ol>
</nav>

<div class="search-bar mb-4">
    <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search blog.." title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
</div><!-- End Search Bar -->
<!--List-->
<a class="btn btn-success mb-4 w-25" [routerLink]="['/admin/blogs/add']">Thêm bài viết mới</a>
<div *ngIf="message$ | async as message" class="alert alert-success">
    {{ message }}
</div>
<div class="card-body" *ngFor="let blog of blogs">
    <div class="card">
        <img src="{{blog.sourceImage}}" alt="..." class="w-50">
        <p class="h3 mt-3">{{blog.title}}</p>
        <p class="mt-3">{{blog.body.slice(0,200)}}</p>
        <a class="btn btn-primary mb-2 w-25" [routerLink]="['/admin/blogs/update', blog.id]">Cập nhật</a>
        <a class="btn btn-danger w-25" (click)="deleteBlog(blog.id)">Xóa</a>
    </div>
</div>
