<div #blogElement
     class="d-flex flex-column align-items-center bg-color-card px-2 bg-card">
    <img src="/images/blogs/blog.jpg" alt="..." style="width:90%;height:50%;">

    <div class="card-body px-3 py-3 d-flex flex-column align-items-center justify-content-center">
        <div class="title w-100 py-2 d-flex flex-column">
            <div><h6 class="card-text">June 27, 2023</h6></div>
            <div class="d-flex justify-content-center mt-2">
                <a href="#" class="text-decoration-none text-white"><h4 class="name-blog">Iphone 11 promax 1T</h4></a>
            </div>
        </div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
    </div>
</div>
