<main class="menu row">
    <section class="menu_category row col-lg-3 col-md-4 mx-auto">
        <form class="mb-3 mb-lg-0 me-lg-0" role="search">
            <div class="input-group">
                <input type="search"
                       class="form-control form-control-dark bg-dark text-white"
                       placeholder="Search..."
                       aria-label="Search">
                <button class="btn btn-dark border" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
        <table class="table table-striped mt-lg-3 px-0 w-75">
            <thead>
                <tr>
                    <th scope="col" class="h5 text-center pt-lg-4 pb-lg-2 category_header mx-auto w-25">
                        <a>Menu</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="h5 text-center pt-lg-4 pb-lg-2 category_item mx-auto w-25"><a class="text_category">Iphone</a></td>
                </tr>
                <tr>
                    <td class="h5 text-center pt-lg-4 pb-lg-2 category_item mx-auto w-25"><a class="text_category">Ipad</a></td>
                </tr>
                <tr>
                    <td class="h5 text-center pt-lg-4 pb-lg-2 category_item mx-auto w-25"><a class="text_category">Ipod</a></td>
                </tr>
                <tr>
                    <td class="h5 text-center pt-lg-4 pb-lg-2 category_item mx-auto w-25"><a class="text_category">SmartWatch</a></td>
                </tr>
                <tr>
                    <td class="h5 text-center pt-lg-4 pb-lg-2 category_item mx-auto w-25"><a class="text_category">IMac</a></td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="category row col-lg-9 col-md-8">
        <div class="menu-slider w-100" #cardproductmenu>
            <section class="menu-slider-products row">
                <div class="col-lg-4 col-sm-6">
                    <app-product-card [name]="'Iphone 11'"
                                      [description]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.'"
                                      [srcImg]="'/images/ip11.png'"
                                      [price]="'$500'"></app-product-card>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <app-product-card [name]="'Iphone 11'"
                                      [description]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.'"
                                      [srcImg]="'/images/ip11.png'"
                                      [price]="'$500'"></app-product-card>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <app-product-card [name]="'Iphone 12'"
                                      [description]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.'"
                                      [srcImg]="'/images/ip12.png'"
                                      [price]="'$500'"></app-product-card>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <app-product-card [name]="'Iphone 12'"
                                      [description]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.'"
                                      [srcImg]="'/images/ip12.png'"
                                      [price]="'$500'"></app-product-card>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <app-product-card [name]="'Iphone 12'"
                                      [description]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.'"
                                      [srcImg]="'/images/ip12.png'"
                                      [price]="'$500'"></app-product-card>
                </div>
            </section>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </section>
</main>
